.datatable-items {
  margin-left: 7em;
  margin-right: 7em;
}
.bhoXfZ {
  margin-top: 2em;
  border-top-style: none;
  margin: 20% 2% 20% 2%;
}
.sc-iJKOTD bhoXfZ rdt_Pagination {
  margin-left: -30em;
}
